aniso8601==1.2.1
behave==1.2.5
click==6.7
dnspython==1.15.0
email-validator==1.0.2
enum34==1.1.6
Faker==0.8.0
Flask==0.12.2
Flask-RESTful==0.3.6
idna==2.6
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
parse==1.8.2
parse-type==0.3.4
PyHamcrest==1.9.0
python-dateutil==2.6.1
pytz==2017.2
six==1.10.0
UkPostcodeParser==1.1.1
Werkzeug==0.12.2
